@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
background-color: rgba(0, 0, 0, 0.862);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav li {
  cursor: pointer;
}

body{
  background-color: #f9fafb;
}
